form{
    margin-top:30vh;
}
.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
  }
//   ion-item{
//     --background: #575365c4;
//     --color: #fff;
//   }
//   ion-list{
//     background: #4f4d7b66;
//   }