<ion-header>
  <ion-toolbar>
    <ion-title>product page  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            
            <ion-lable>{{products.id}}
              </ion-lablel>
              <ion-lable>{{products.name}}
                </ion-lablel>
                <ion-lable>{{products.category}}
                  </ion-lablel>
                  <ion-lable>{{products.company}}
                    </ion-lablel>
                    <ion-lable>{{products.mrp}}
                      </ion-lablel>  
           </ion-item> 
          </ion-list>
        </ion-col>
      </ion-row>
   </ion-grid>  -->

</ion-content>
